  <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Four'm</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="./public/css/style.css" />
        
    </head>

{{#if isLoggedIn}}
  <section class="hero is-large has-background-dark">
    <h1 class="has-text-centered is-size-2 mb-6">Welcome to Four'm, {{user.username}}!</h1>
  
  </section>
  {{!-- form to create new post here once user logs in --}}
  <div class="col-md-6 has-text-centered is-size-4" style="background-color: rgb(54, 50, 50)">
    {{!-- future implementation: add a create-post button --}}
    <h3>Create a New Post:</h3> 
    <form action="/upload" method="POST" enctype="multipart/form-data" class="form new-project-form">
      <div class="form-group my-6">
        {{!-- upload image file --}}
        <label for="post-image">Post image here:</label>
        <input class="form-input my-5" type="file" id="post-image" name="image_path" />
        <button class="button is-medium is-responsive is-rounded is-success is-focused" type="submit">Upload</button>
      </div>
      <div class="form-group mb-5">
        <label for="post-caption">Caption:</label>
        <textarea class="form-input is-small" class="textarea is-info" id="post-caption" name="caption"></textarea>
      </div>
      <div class="form-group">
        <button class="button is-medium is-responsive is-rounded is-success is-focused my-5" type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
{{/if}}
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}

{{!-- display #explore posts here --}}
{{#each posts as |post| }}
<div class="row mb-4 post" style="background-color: rgb(54, 50, 50)">
  <div class="col-md-5">
    <h2>
      {{!-- render image TODO: implement get_image helper function --}}
      {{{get_image}}}
      <a href="/post/{{post.id}}">{{post.caption}}</a>
    </h2>
    <p>
      {{post.caption}}
    </p>
    <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
</div>
{{/each}}
